.item-list {
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.item-list .item-row {
  z-index: 1;
  position: relative;
  transition: .5s;
}

.item-list.item-row {
  z-index: 1000;
}

.item-list .item-row:hover+* {
  transform: translateZ(20px) rotateX(-20deg);
}

.item-list .item-row:hover+*+* {
  transform: translateZ(10px) rotateX(-10deg);
}

.item-list .item-row:hover+*+*+* {
  transform: translateZ(5px) rotateX(-5deg);
}

.item-list .item-row:has(+*:hover) {
  transform: translateZ(20px) rotateX(20deg);
}

.item-list .item-row:has(+*+*:hover) {
  transform: translateZ(10px) rotateX(10deg);
}

.item-list .item-row:has(+*+*+*:hover) {
  transform: translateZ(5px) rotateX(5deg);
}


.logo-container {
  transform-style: preserve-3d;
  transform: perspective(1000px);
  width: 100%;
  height: 100%;
}

.logo-container .logo {
  transition: .1s;
}

:root {
  --x: 0.5;
  --y: 0.5;
}

.logo-container .logo {
  transform: rotateX(calc(-15deg* (var(--y) - 0.5))) rotateY(calc(15deg* (var(--x) - 0.5)));
}

.logo-container:hover {
  .logo {
    transform: translateZ(80px);
  }
}
