package templ_shared

templ Loader() {
	<script>
	function toggleLoader(on) {
		toggleClassForIdExact('-translate-x-full', 'loader-page', on);
	}
</script>
	<div
		id="loader-page"
		class="z-50 fixed top-0 left-0 w-screen h-screen bg-g -translate-x-full bg-primary-900 bg-opacity-50"
	>
		<div class="flex items-center justify-center h-full">
			<img class="mx-auto my-auto" src="/static/gif/loading_white.gif" alt="Loading..."/>
		</div>
	</div>
}
