<!DOCTYPE html>

<html lang="en">
{{ block "todo-item" . }}
    {{template "header"}}
    {{template "navbar"}}
    {{template "sidebar"}}
    <body>
    <div>
        Hello world
    </div>
    </body>
{{ end }}
</html>
